
  .container {
    width: 750px;

    .form-content {
      width: 100%;
    }

    .validation-error {
        margin-bottom: 20px;
      }
    
    .form-navigation__buttons {
      width: 100%;
      
      button {
        padding: 10px;
        border-radius: 4px;
        border: solid 2px #000;
        color: #000;
        font-size: 18px;
        width: 100%;

        &:hover {
          cursor: pointer;
          background-color: #000;
          color: #fff;
        }

        &:disabled {
          background-color: #ccc;
          color: #fff;
          border: solid 2px #ccc;
          cursor: not-allowed;
        }

        &:not(:disabled) {
          &:hover {
            cursor: pointer;
            background-color: #000;
            color: #fff;
          }
        }

        
      }
    
    }

   
  }

