<div class="container">
  <div class="form-step-title" *ngIf="currentStepTitle">
    <h1>{{ currentStepTitle }}</h1>
  </div>
  <div class="form-content">
    <!-- Step 1 -->
    <ng-template [ngIf]="currentStep === 1">
      <form-step-one></form-step-one>
    </ng-template>
    <!-- Step 2 -->
    <ng-template [ngIf]="currentStep === 2">
      <confirm-data-step></confirm-data-step>
    </ng-template>
  </div>
  <ng-template [ngIf]="!isFormValid">
    <div class="validation-error" *ngFor="let message of messages">
      <validation-error-item [message]="message"></validation-error-item>
    </div>
  </ng-template>
  <div
    [ngStyle]="{
      justifyContent: currentStep === 1 ? 'flex-end' : ''
    }"
    [ngClass]="'form-navigation__buttons'"
  >
    <ng-template [ngIf]="currentStep === 1">
      <button
        [disabled]="!isFormValid"
        mat-stroked-button
        color="secondary"
        (click)="goToNextStep()"
      >
        Volgende
      </button>
    </ng-template>
    <ng-template [ngIf]="currentStep > 1">
      <button [disabled]="!isFormValid" mat-stroked-button color="secondary" (click)="goToNextStep()">
        Dit is mijn adres
      </button>
    </ng-template>
  </div>
</div>
