
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    .form-content {
      display: flex;
  
    }

    .form-navigation__buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-self: flex-end;
      align-content: flex-end;
    }

    .validation-error {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 0;
      flex-shrink: 0;
      margin-bottom: 20px;
    }
  }

