  <div class="container">
    <div *ngIf="currentStepTitle" class="form-step-title">
      <h1>{{ currentStepTitle }}</h1>
    </div>
    <div class="form-content">
      <!-- Step Components -->
      <form-step-one *ngIf="currentStep === 1"></form-step-one>
      <confirm-data-step *ngIf="currentStep === 2"></confirm-data-step>
    </div>
    <ng-container *ngIf="messages.length > 0">
      <div class="validation-error" *ngFor="let message of messages">
        <validation-error-item [message]="message"></validation-error-item>
      </div>
    </ng-container>
    <div [ngClass]="'form-navigation__buttons'" [ngStyle]="getButtonStyles()">
      <button
        *ngIf="currentStep === 1"
        [disabled]="isButtonDisabled()"
        mat-stroked-button
        color="secondary"
        (click)="goToNextStep()"
      >
        Volgende
      </button>
      <button
        *ngIf="currentStep > 1"
        [disabled]="isButtonDisabled()"
        mat-stroked-button
        color="secondary"
        (click)="goToNextStep()"
      >
        Dit is mijn adres
      </button>
    </div>
  </div>
