<div class="container">
  <div class="form-step-title" *ngIf="currentStepTitle">
    <h1>{{ currentStepTitle }}</h1>
  </div>
  <div class="form-content">
    <!-- Step 1 -->
    <ng-template [ngIf]="currentStep === 1">
      <form-step-one></form-step-one>
    </ng-template>
    <!-- Step 2 -->
    <ng-template [ngIf]="currentStep === 2">
      <confirm-data-step></confirm-data-step>
    </ng-template>
  </div>
  <div class="validation-error" *ngIf="formStateService.form.invalid">
    <ng-container *ngFor="let message of messages">
      <validation-error-item [message]="message"></validation-error-item>
    </ng-container>
  </div>
  <div [ngStyle]="{
      justifyContent: currentStep === 1 ? 'flex-end' : 'space-between'
    }" class="form-navigation__buttons">
    <!-- Navigation Buttons -->
    <button *ngIf="currentStep > 1" mat-stroked-button color="secondary" (click)="goToPreviousStep()">
      Terug
    </button>
    <button [disabled]="!formStateService.form.valid" mat-stroked-button color="primary" (click)="goToNextStep()">
      {{ currentStep === 1 ? 'Volgende' : 'Dit is mijn adres' }}
    </button>
  </div>
</div>