@for (controlName of formControlNames; track controlName) {
  <div>
    @switch (getFormFieldType(controlName)) {
      @case ('text') {
        <div>
          <base-input
            [label]="getLabel(controlName)"
            [type]="getFormFieldType(controlName)"
          ></base-input>
        </div>
      }
      @case ('email') {
        <div>
          <base-input
            [label]="getLabel(controlName)"
            [type]="getFormFieldType(controlName)"
            [pattern]="emailPattern"
          ></base-input>
        </div>
      }
      @case ('checkbox') {
        <div>
          <checkbox-input [checkboxLabel]="getLabel(controlName)"></checkbox-input>
        </div>
      }
      @default {
        <div>
          <base-input
            [label]="getLabel(controlName)"
            [type]="getFormFieldType(controlName)"
          ></base-input>
        </div>
      }
    }
  </div>
}
<div class="error-messages"></div>
