<div [ngSwitch]="field.type">
  <form [formGroup]="form">
    <input
      *ngSwitchCase="'text'"
      [formControlName]="field.name"
      [placeholder]="field.name"
    />
    <input
      *ngSwitchCase="'email'"
      [formControlName]="field.name"
      [placeholder]="field.name"
    />
    <textarea
      *ngSwitchCase="'textarea'"
      [formControlName]="field.name"
      ...
    ></textarea>
    <select *ngSwitchCase="'select'" [formControlName]="field.name"></select>
  </form>
</div>
<div [ngSwitch]="field.type">
  <div
    *ngIf="
      form.get(field.name)?.invalid &&
      (form.get(field.name)?.dirty || form.get(field.name)?.touched)
    "
    class="error-message"
  ></div>
</div>
