<form [formGroup]="address">
    <mat-form-field >
        <mat-label>Postcode</mat-label>
        <input matInput type="text" placeholder="Postcode" formControlName="postalcode" required>
    </mat-form-field>

    <mat-form-field >
        <mat-label>Huisnummer</mat-label>
        <input matInput type="text" placeholder="Huisnummer" formControlName="housenumber" required>
    </mat-form-field>

    <mat-form-field >
        <mat-label>Toevoeging</mat-label>
        <input matInput type="text" placeholder="Toevoeging" formControlName="addition">
    </mat-form-field>
</form>
