.hero {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;

  .left-column {
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: #ef233c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .back-button {
        position: absolute;
        top: 50px; // Adjust as needed
        left: 50px; // Adjust as needed
        border: none;
        background-color: transparent;
        color: black; // Or any color that suits your design
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #fff;
            border: solid 1px #fff;
            
        }


    }

        

    .left-column__container {
      margin-left: 10%;
      display: flex;
      text-align: left;
      width: 100%;

      h1 {
        font-family: 'Noto Sans', sans-serif;
        color: #fff;
        font-size: 5.5rem;
        font-weight: 900;
        margin-bottom: 20px;
        line-height: 1.2;
        letter-spacing: -1px;
      }
    }
  }

  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .right-column__container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}