.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .left-column {
    flex: 1;
    padding: 20px;
    background-color: #1be7ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .container {
      display: flex;
      align-items: center; // Center the .container vertically
    }
  }
}
