@defer {
<div class="container" *ngIf="address">
    <div class="full-address-information">
        {{ address.street }} {{ address.houseNumber }} {{ address.postalCode | uppercase }} {{ address.city }}
    </div>
    
    <div class="edit-address-button">
        <button mat-stroked-button color="secondary" (click)="onPreviousStep()"><mat-icon>edit-note</mat-icon>Wijzig dit adres</button>
    </div>
    <div class="confirm-ownership" [formGroup]="formGroup">
        <label>
            <input type="checkbox" name="ownership" id="ownership" formControlName="ownership" />
            Ik ben eigenaar van deze woning
        </label>

    </div>
</div>
}

@loading (minimum 1s) {
    <app-spinner></app-spinner>
}
@error {
    Bestaat niet
}