.container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100% ;
}

.full-address-information,
.edit-address-button,
.confirm-ownership {
    width: 100%;
}



.full-address-information {
    border: 1px solid #ced4da;
    border-radius: 4px;
    /* Grey border */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-size: 16px;
    /* Standard font size */
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    /* Default text color */
    background-color: #fff;
    /* White background */
    outline: none;
    /* No outline by default */
    width: 100%;
    /* Full width */
    box-sizing: border-box;
    /* To include padding and border in width */
    margin-bottom: 20px;
}


.edit-address-button {
         margin-bottom: 20px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        /* Grey border */
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        font-size: 16px;
        /* Standard font size */
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        /* Default text color */
        background-color: #fff;
        /* White background */
        outline: none;
        /* No outline by default */
        width: 100%;
        /* Full width */
        box-sizing: border-box;
        /* To include padding and border in width */
        margin-bottom: 20px;

    button {
        display: flex;
        align-items: center;
        background-color: #fff;
        color: #000;
        border: solid 1px #ced4da;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken(#ced4da, 10%);
        }

        mat-icon {
            margin-right: 5px;
        }
    }
}

.confirm-ownership {
        margin-bottom: 20px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        /* Grey border */
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        font-size: 16px;
        /* Standard font size */
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        /* Default text color */
        background-color: #fff;
        /* White background */
        outline: none;
        /* No outline by default */
        width: 100%;
        /* Full width */
        box-sizing: border-box;
        /* To include padding and border in width */
        margin-bottom: 20px;

    mat-checkbox {
        margin-left: -10px;
    }
}