<div class="container" *ngIf="address">
    <div class="full-address-information">
        <p>{{ address.street }} {{ address.houseNumber }}</p>
        <p>{{ address.postalCode }} {{ address.city }}</p>
    </div>
    <div class="edit-address-button">
        <button mat-stroked-button color="secondary" (click)="goToPreviousStep()"><mat-icon>edit-note</mat-icon>Wijzig dit adres</button>
    </div>
    <div class="confirm-ownership">
        <mat-checkbox class="example-margin">Ik ben de eigenaar van deze woning</mat-checkbox>
    </div>
</div>