:root {
    --color-primary-neonRed: #ef233c;
    --color-primary-lightBlack: #1b1b1b;
    --color-primary-white: #ffffff;
    --color-secondary-white: #e0e0e0;
    --color-primary-sleightGrey: #f3f3f3;
    --color-lightGray: #cecece;
}


