.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    max-height: 300px;
}

.full-width {
    width:100%;
}

.content {
    grid-row: 1;
}

.error-messages {
    grid-row: 2;
    grid-template-rows: minmax(0, 1fr);
}